@model Conestoga_Virtual_Game_Store.Models.platform

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>platform</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.platform_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.platform_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.platform_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
